#about.modal-inner
  #logo.watdo wat do?
  :markdown
    **wat do** is a time managment utility by [Justin Li](http://www.j-li.net/) and
    [Jacob Wirth](http://www.jacobwirth.ca/). If you're like us, and often ask yourself "**what should I do now?**"
    then it can probably help you.

    **wat do** takes the work out of deciding which tasks to do when.
    It works by combining the classic to-do list with a simple calendar in an intuitive and powerful way.
    You get the best of both worlds: see **what** you need to do and **when** you need to do it all in one timeline.
    No more manually sorting your list: do the stuff that's due sooner first.

    With **wat do**, you can effortlessly collaborate with others by creating groups.
    This is a great way to keep track of class assignments, blahh, and blah.
    No more missing due dates announced when you sleep in and miss that 8:00 AM lecture.
