#about.modal-inner
  #logo.watdo wat do?
  :markdown
    **wat do** is a time managment utility created by [Justin Li](http://www.j-li.net/) and
    [Jacob Wirth](http://www.jacobwirth.ca/). There really should be a much longer, proper description of
    wat do, but Jacob was too lazy to figure out what to right as of the time of this writing.