extends layout

block title
  | wat do?

block content
  section#timeline-wrap
    .timeline-visualization
  section#home
    .content-wrap
      .content
        h2.maintext "What should I do now?"

        h4.subtext If you're like us, and often ask yourself this question, then 
          span.watdo wat do
          |  can probably help you.

        .features
          .feature
            .icons
              i.icon-list-ol
              span.big  + 
              i.icon-calendar
            p Get the best of both worlds: see 
              strong what
              |  to do and 
              strong when
              |  to do it all in one timeline.
          .feature
            .icons
              i.icon-group
              span.big  + 
              i.icon-bullhorn
            p Effortlessly collaborate with your friends by sharing and subscribing to lists.
          .feature
            .icons
              i.icon-cloud
              span.big  + 
              i.icon-tasks
            p Find out what to do next from any of your devices, wherever you are.

        .heading Getting started couldn't be easier
        p All you need to do is click the login button. That's literally all there is to it. We identify you by your 
          a(href='https://developers.google.com/accounts/cookbook/technologies/OpenID-Connect') Google Account
          | , which means that there's no registration process whatsoever.

        a.btn(href='/login') Login with Google
    footer#footer
      | Created by 
      a(href='http://www.frustra.org/') Frustra Software
      br
      | This site is licensed under a 
      a(rel='license', href='http://creativecommons.org/licenses/by-nc/3.0/') Creative Commons Attribution-NonCommercial 3.0 Unported License
      br
      | Source code 
      a(href='https://github.com/frustra/wat-do') Available Here