extends layout

block title
  | wat do?

block content
  article#home
    section.mast
      h1.watdo wat do?
      p.bigger manage your time better
      br
    section.about
      p.big Such and such promotional text