extends layout

block title
  | wat do?

block content
  section#timeline-wrap(ng-controller='TimelineCtrl')
    div.timeline-visualization(val='data')

  section#item(ng-controller='ItemCtrl')
    div.overlay
    div.content
      form(ng-submit='saveItem()')
        h2 {{item.name}}
        input(type='text', name='item-name', ng-model='item.name', class='big full-width')

        h4 {{item.desc}}
        textarea(name='item-description', ng-model='item.desc', class='medium full-width')

        input(type='text', name='start-date', ng-model='item.start', class='medium')

        input(type='text', name='end-date', ng-model='item.end', class='medium')

        input(type='submit', value='Save', class='btn medium')
