#item.modal-inner
  form.editable(js-form="saveItem")
    .icon-ok#done
    input(type='checkbox', name='item-done', js-data='done', style='display: none;')
    #name-wrap
      input.big.full-width(type='text', name='item-name', js-data='name', placeholder='Item Name', perm='1')
    textarea.medium.full-width(name='item-description', js-data='desc', placeholder='Description', perm='1')

    hr

    .clearfix
      #start-date
        p Start Date:
        .date-wrap
          input.medium(type='text', name='start-date-day', js-data='startday', perm='1')
          span at
          input.medium(type='text', name='start-date-hour', js-data='starthour', perm='1')
      #due-date
        p Due Date:
        .date-wrap
          input.medium(type='text', name='end-date-day', js-data='endday', perm='1')
          span at
          input.medium(type='text', name='end-date-hour', js-data='endhour', perm='1')

    #buttons
      .left-group
        input.btn-delete.btn.medium(type='button', value='Delete', perm='1')
        input.btn-list.btn.medium(type='button', value='Go To List')
      .right-group
        input.btn-save.btn.medium(type='submit', value='Save')
        input.btn-cancel.btn.medium(type='button', value='Cancel')
