extends layout

block title
  | wat do?

block content
  section#timeline-wrap(ng-controller='TimelineCtrl')
    div.timeline-visualization(val='data')

  section#item(ng-controller='ItemCtrl')
    div.overlay
    div.content
      h2 {{item.title}}
      h4 {{item.desc}}

      form(ng-submit='saveItem()')
        input(type='text', name='item-title', ng-model='item.title', class='big full-width')
        textarea(name='item-description', ng-model='item.desc', class='medium full-width')
        input(type='submit', value='Save', class='btn medium')
