#item.modal-inner.clearfix
  form.editable(js-form="saveItem")
    .icon-ok#done
    input(type='checkbox', name='item-done', js-data='done', style='display: none;')
    #name-wrap
      input.big.full-width(type='text', name='item-name', js-data='name', placeholder='Name')
    textarea.medium.full-width(name='item-description', js-data='desc', placeholder='Description')

    hr

    .clearfix
      #start-date
        p Start Date:
        .date-wrap: input.medium(type='text', name='start-date', js-data='start')
      #due-date
        p Due Date:
        .date-wrap: input.medium(type='text', name='end-date', js-data='end')

    #buttons
      .left-group
        input.btn-delete.btn.medium(type='button', value='Delete')
      .right-group
        input.btn-save.btn.medium(type='submit', value='Save')
        input.btn-cancel.btn.medium(type='button', value='Cancel')
