extends layout

block title
  | wat do?

block content
  section#timeline-wrap(ng-controller='TimelineCtrl')
    div.timeline-visualization(val='data')

  section#item(ng-controller='ItemCtrl')
    div.overlay
    div.content
      h2 {{item.title}}
      h4 {{item.desc}}
      p {{item.start}} to {{item.end}}
