doctype 5
html(ng-app='watdo')
  head
    title
      block title
    //if lt IE 9
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    //if IE
      <script> window.location = "http://dontuseie.com/"; </script>
    link(type='text/css', rel='stylesheet', href='//fonts.googleapis.com/css?family=Lobster&amp;text=wat do?')
    link(type='text/css', rel='stylesheet', href='//fonts.googleapis.com/css?family=Signika+Negative:300,600')
    link(type='text/css', rel='stylesheet', href='/master.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js')
    script(type='text/javascript', src='/js/d3.v2.min.js')
    script(type='text/javascript', src='/js/moment.min.js')
    script(type='text/javascript', src='/js/signals.min.js')
    script(type='text/javascript', src='/js/crossroads.min.js')
    script(type='text/javascript', src='/js/timeline.js')
    script(type='text/javascript', src='/js/app.js')
    block head

  body(lang='en')
    #topbar
      header: a.home.watdo(href='/') wat do?
      nav: ul
        li: a.info(href='/about'): i.icon-info-sign
        li: a(href='/item/new') new
        if !!user
          li.right: a(href='/logout') logout
          li.right: a(href='/account') account
        else
          li.right: a(href='/login') login

    #content
      block content
    section#modal
      div.overlay
        div.overlay-inner
        div.content-wrap
          div.content
            block modal-content
              include about
              include item
