doctype 5
html
  head
    title
      block title
    //if lt IE 9
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    //if IE
      <script> window.location = "http://dontuseie.com/"; </script>
    link(type='text/css', rel='stylesheet', href='//fonts.googleapis.com/css?family=Lobster&amp;text=wat do?')
    link(type='text/css', rel='stylesheet', href='//fonts.googleapis.com/css?family=Signika+Negative:300,600')
    link(type='text/css', rel='stylesheet', href='/master.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js')
    script(type='text/javascript', src='/js/lib/d3.v2.min.js')
    script(type='text/javascript', src='/js/lib/moment.min.js')
    script(type='text/javascript', src='/js/lib/signals.min.js')
    script(type='text/javascript', src='/js/lib/crossroads.min.js')
    script(type='text/javascript', src='/js/timeline.js')
    script(type='text/javascript', src='/js/handlers.js')
    script(type='text/javascript', src='/js/app.js')
    if !!user
      script var user = !{!!user};
    else
      script var user = null;
    block head

  body(lang='en')
    header#topbar
      nav: table: tr
        td.left
          a.home.watdo(href='/') wat do?
          a.navlink.info(href='/about'): i.icon-info-sign
          if !!user
            a.navlink(href='/item/new', perm='1') new item
            a.navlink#subscribe subscribe
            a.navlink#editlist(perm='2') edit list
        td
          p#listname
        td.right
          if !!user
            a.navlink#updates(href='/updates', updates='0') 0
            a.navlink(href='/list/new') new list
            a.navlink(href='/account') account
            a.navlink(href='/logout') logout
          else
            a.navlink(href='/login') login

    #content
      block content
    section#modal
      div.overlay
        div.overlay-inner
        div.content-wrap
          div.content
            block modal-content
              include about
              include item
              include error
              if !!user
                include list
                include account
                include updates