.editable {
  textarea {
    min-height: 55px;
  }

  input[type='text'], textarea {
    background: transparent;
    font-family: 'Signika Negative', sans;
    border: 1px solid transparent;
    padding-left: 5px;
    padding-right: 5px;
    .rounded(3px);
    .transition(background-color 200ms, border 200ms, box-shadow 200ms);

    &:focus {
      background-color: #FFFFFF;
      border: 1px solid #CCCCCC;
      .box-shadow(0 1px 1px rgba(0, 0, 0, 0.075) inset);

      &[readonly] {
        border: 1px solid transparent;
        background: transparent;
        .box-shadow(none);
      }
    }

    &.link {
      color: #4447A0;
    }

    &.big {
      font-weight: bold;
    }

    &::-webkit-input-placeholder {
      color: #888888;
    }
    &:-moz-placeholder {
      color: #888888;
    }
    &:-ms-input-placeholder {
      color: #888888;
    }
  }
}