body {
  background-color: #DDDDDD;
  color: rgb(60,60,60);
  -webkit-text-size-adjust: 100%; // Stops Mobile Safari from auto-adjusting font-sizes
}

#content {
  width: 100%;
  margin-top: 52px;
}

body.scroll #topbar {
  .box-shadow(0 4px 4px -1px rgba(0, 0, 0, 0.12));
}

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 32px;
  padding: 10px 0;
  border-bottom: 1px solid #CCC;
  .transition(0.3s);
  background-color: rgba(239, 239, 239, 0.8);
  z-index: 100;

  ul {
    list-style-type: none;
    margin: 0 10px;

    li {
      display: block;
      float: left;

      &.right {
        float: right;
      }

      a {
        float: left;
        display: block;
        padding: 3px 15px;
        margin: 0 10px;
        border: 1px solid rgb(195,195,195);
        color: #4447A0;
        -webkit-tap-highlight-color: rgba(0,0,0, 0);
        .box-shadow(inset 0 0 5px rgba(0,0,0, 0.05));
        .rounded(3px);
        .transition(0.15s);

        &:hover, &:active {
          text-decoration: none;
          color: #222460;
          border-color: rgb(158,158,158);
          .box-shadow(inset 0 0 8px rgba(0,0,0, 0.38));
        }

        &:active {
          background: #4447A0;
          border-color: rgb(23,37,60);
          color: rgb(232,241,255);
          text-shadow: 0 -1px 0 rgba(0,0,0, 0.9);
          .box-shadow(inset 0 0 12px rgba(0,0,0, 0.765));
        }
      }
    }
  }

  a.home {
    float: left;
    display: block;
    padding: 3px 15px;
    margin: 0 0 0 10px;
    color: #4447A0;
    font-size: 24px;
    .transition(0.15s);

    &:hover {
      color: #222460;
    }
  }

  a.info {
    padding: 4px 2px 0px 1px;
    font-size: 24px;
  }
}