body {
  background-color: #eaeaea;
  color: rgb(60,60,60);
  -webkit-text-size-adjust: 100%; // Stops Mobile Safari from auto-adjusting font-sizes
}

body.scroll #topbar {
  .box-shadow(0 4px 4px -1px rgba(0, 0, 0, 0.12));
}

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 32px;
  padding: 10px 0;
  border-bottom: 1px solid #CCC;
  .transition(all 0.3s ease-out);
  background-color: rgba(245, 245, 245, 0.92);
  z-index: 100;
  overflow-y: hidden;
  overflow-x: auto;

  nav {
    a {
      vertical-align: top;

      &.navlink {
        display: inline-block;
        padding: 3px 15px;
        margin-right: 10px;
        height: 24px;
        line-height: 24px;
        border: 1px solid rgb(195,195,195);
        color: #4447A0;
        -webkit-tap-highlight-color: rgba(0,0,0, 0);
        .box-shadow(inset 0 0 5px rgba(0,0,0, 0.05));
        .rounded(3px);
        .transition(all 0.15s ease-out);

        &:first-child {
          margin-left: 10px;
        }

        &:hover, &:active {
          text-decoration: none;
          color: #222460;
          border-color: rgb(158,158,158);
          .box-shadow(inset 0 0 8px rgba(0,0,0, 0.38));
        }

        &:active {
          background: #4447A0;
          border-color: rgb(23,37,60);
          color: rgb(232,241,255);
          text-shadow: 0 -1px 0 rgba(0,0,0, 0.9);
          .box-shadow(inset 0 0 12px rgba(0,0,0, 0.765));
        }
      }
      
      &#updates {
        height: 20px;
        line-height: 20px;
        margin-top: 3px;
        margin-right: 15px;
        padding: 2px 15px;
        font-weight: bold;
        text-align: center;
        .rounded(24px);

        &:not([updates^="0"]) {
          background: #B94A48;
          color: white;

          .box-shadow(none);
          border: 1px solid transparent;

          &:hover {
            background: #943B3A;
          }
        }
      }

      &.info {
        padding: 3px 5px 5px 5px;
        height: 22px;
        width: 20px;
        
        i {
          padding: 0;
          margin: 0;
          font-size: 23px;
          line-height: 23px;
          width: 20px;
          height: 23px;
          text-align: center;
          vertical-align: middle;
        }
      }

      &.subscribe {
        height: 24px;
        width: 20px;

        padding: 3px 5px;
        margin-right: 10px;
        font-size: 24px;
        line-height: 26px;
        .transition(all 0.15s ease-out);

        i:before {
          content: "\f006";
          color: #999999;
        }

        &[subbed] {
          i:before {
            content: "\f005";
            color: #468847;
          }
        }
      }

      &.home {
        display: inline-block;
        padding: 3px 15px;
        height: 28px;
        margin: 0 6px;
        color: #4447A0;
        font-size: 28px;
        line-height: 26px;
        .transition(all 0.15s ease-out);

        &:hover {
          color: #222460;
        }
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;

      td {
        white-space: nowrap;
        text-align: center;

        &.left {
          width: 40%;
          text-align: left;
        }

        &.right {
          width: 40%;
          text-align: right;
        }

        p#listname {
          font-size: 20px;
        }
      }
    }
  }
}

#content {
  width: 100%;
  margin-top: 52px;

  #home {
    display: none;
    padding: 30px 0;

    .content-wrap {
      position: relative;
      float: right;
      right: 50%;
      top: 40px;
      width: 1000px;
      max-width: 90%;

      .content {
        position: relative;
        float: right;
        right: -50%;
        width: 100%;
        text-align: center;

        .maintext {
          text-shadow: -1px 0 1px #FFF;
          font-weight: 600;
        }

        .subtext {
          margin: 16px 0 48px 0;
          text-shadow: -1px 0 1px #FFF;
          color: #1C1C1C;
        }

        #logo {
          display: block;
          width: 100$;
          height: 74px;
          color: #4447A0;
          font-size: 72px;
          line-height: 74px;
          margin-bottom: 20px;
          text-align: center;
        }

        p {
          padding: 15px;
          font-size: 12pt;
        }

        .features {
          margin-bottom: 40px;
          padding: 40px 0 20px 0;
          background: #dfdfdf;
          .rounded(8px);
          color: #000;
          .icons {
            padding: 20px 0;
            color: #bcbcbc;
            i {
              font-size: 80px;
              text-shadow: 2px 2px 4px #bbb;
            }
            .icon-cloud { color: #fff; }
            .icon-tasks { color: #444; }
            .icon-group { color: #51a351; }
            .icon-bullhorn { color: #a35151; }
            .icon-calendar { color: #5151a3; }
            .icon-list-ol { color: #a351a3; }
            .big {
              font-size: 50px;
              margin-bottom: 6px;
              padding: 0 18px;
              display: inline-block;
            }
          }

          .feature {
            width: 30%;
            text-align: center;
            float: left;
            padding: 0 1.5%;
            p {
              font-size: 11pt;
            }
            border-left: 1px dashed #bcbcbc;
            &:first-child {
              border: none;
            }
          }
          .clearfix()
        }

        .heading {
          text-transform: uppercase;
          font-weight: 600;
          font-size: 13pt;
          letter-spacing: 1px;
          color: #1C1C1C;
        }

        a.btn {
          .buttonBackground(#6262c4, #5151a3, #FFF, 0 -1px rgba(0,0,0,.25));
          .rounded(8px);
          text-shadow: 1px 0 1px #aaa;
          font-size: 18pt;
          padding: 15px 40px;
          margin: 40px 0;
          font-weight: 600;
        }
      }
    }
  }
}

#modal {
  display: none;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 101;

    .overlay-inner {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 5;
    }

    .content-wrap {
      position: relative;
      float: right;
      right: 50%;
      top: 40px;
      width: 600px;
      max-width: 90%;

      .content {
        position: relative;
        float: right;
        right: -50%;

        background-color: #EFEFEF;
        .box-shadow(0 0 72px 1px #222);
        .rounded(4px);
        width: 100%;
        z-index: 10;

        .modal-inner {
          display: none;
          overflow-x: hidden;
          overflow-y: auto;
          margin: 10px;

          .clearfix
        }
      }
    }
  }
}

.modal-inner {
  &#error {
    padding: 15px 22px;

    p#msg {
      font-size: 20px;
      line-height: 22px;
      text-align: center;
    }
  }

  &#about {
    padding: 30px 22px;

    #logo {
      display: block;
      width: 100$;
      height: 74px;
      color: #4447A0;
      font-size: 72px;
      line-height: 74px;
      text-align: center;
      margin-bottom: 20px;
    }

    p {
      padding-top: 30px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 10px;
      text-indent: 2em;
      text-align: justify;
    }
  }

  &#updates {
    .list {
      display: inline-block;
      vertical-align: top;
      width: 290px;
    }

    h3 {
      font-size: 22px;
      line-height: 26px;
      padding-left: 5px;
      font-weight: bold;
    }

    ul {
      list-style-type: none;
      padding: 5px 15px;
      margin-bottom: 20px;

      li {
        .transition(background 0.15s ease-out);

        &:first-child {
          border: none;
        }

        &:hover {
          background: #DDDDDD;
        }

        a {
          padding-left: 5px;
          display: inline-block;
          width: 255px;

          &[href] {
            color: #555555;
          }

          &:not([href]) {
            color: #000000;
            cursor: auto;
          }

          .updates {
            display: inline-block;
            text-align: center;
            margin-left: 10px;
            vertical-align: 2px;

            line-height: 12px;
            font-size: 10px;
            padding-left: 9px;
            padding-right: 9px;
            padding-bottom: 1px;
            font-weight: bold;
            .rounded(16px);

            background: #B94A48;
            color: white;

            &[updates="0"], &:not([updates]) {
              display: none;
            }
          }
        }
      }
    }
  }

  &#list {
    #members {
      position: relative;
      margin-top: 5px;

      table {
        width: 100%;

        &#members-list {
          margin-top: 5px;

          tr {
            td {
              &:last-child {
                padding-bottom: 5px;
              }

              &.left {
                padding-left: 5px;
                cursor: pointer;
                color: #999999;
                font-weight: bold;
                .transition(color 150ms ease-out);

                &:hover {
                  color: #B94A48;
                }
              }

              p {
                padding-left: 5px;
              }
            }
          }
        }

        tr {
          td {
            &.left {
              width: 0;
              padding-right: 5px;
              text-align: center;
            }

            &.right {
              width: 0;
              padding-left: 5px;
              text-align: center;
            }

            #email-wrap {
              padding-right: 6px;

              #email {
                width: 100%;
                height: 18px;

                padding-top: 3px;
                padding-bottom: 3px;
                padding-left: 3px;
                padding-right: 3px;
                font-size: 14px;
                background-color: #FFFFFF;
                border: 1px solid #CCCCCC;
                .box-shadow(0 1px 1px rgba(0, 0, 0, 0.075) inset);
              }
            }

            #adduser {
              height: 26px;

              font-size: 14px;
              padding: 3px 8px;
            }

            .permission {
              font-family: inherit;
              font-size: 14px;
              padding-top: 1px;

              cursor: pointer;
            }
          }
        }
      }
    }
  }

  &#item {
    form {
      #done {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 28px;
        line-height: 32px;
        height: 32px;
        color: #EFEFEF;
        text-shadow: -2px 0 2px #999999, 0 2px 2px #999999, 2px 0 2px #999999, 0 -2px 2px #999999;
        cursor: pointer;
        .transition(color 300ms, text-shadow 300ms);

        &.done {
          color: #4A4;
          text-shadow: -1px 0 2px #4C4, 0 1px 2px #4C4, 1px 0 2px #4C4, 0 -1px 2px #4C4;
        }
      }

      #name-wrap {
        padding-right: 30px;
      }

      #start-date, #due-date {
        float: left;
        width: 50%;
        margin-top: 3px;
        min-width: 250px;

        p {
          float: left;
          padding: 5px;
          margin-right: -85px;
          width: 75px;

          font-size: 15px;
          line-height: 18px;
        }

        .date-wrap {
          margin-left: 85px;

          input[type='text'] {
            padding: 5px;
            width: 100%;
            line-height: 18px;
          }
        }
      }

      #start-date {
        .date-wrap {
          margin-right: 22px;
        }
      }

      #due-date {
        .date-wrap {
          margin-right: 12px;
        }
      }
    }
  }

  #buttons {
    clear: both;
    margin-top: 5px;
    .clearfix;

    div {
      .btn {
        margin-left: 10px;

        &:first-child {
          margin-left: 0;
        }
      }

      &.left-group {
        float: left;
      }

      &.right-group {
        float: right;
        margin-left: 10px;
      }
    }

    .btn {
      &.btn-list {
        margin-left: 0;
      }

      &.btn-save {
        .buttonBackground(#62C462, #51A351, #FFF, 0 -1px rgba(0,0,0,.25));
      }

      &.btn-delete {
        .buttonBackground(#EE5F5B, #BD362F, #FFF, 0 -1px rgba(0,0,0,.25));
      }
    }
  }
}