body {
  background-color: #DDDDDD;
  color: rgb(60,60,60);
  -webkit-text-size-adjust: 100%; // Stops Mobile Safari from auto-adjusting font-sizes
}

body.scroll #topbar {
  .box-shadow(0 4px 4px -1px rgba(0, 0, 0, 0.12));
}

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 32px;
  padding: 10px 0;
  border-bottom: 1px solid #CCC;
  .transition(all 0.3s ease-out);
  background-color: rgba(239, 239, 239, 0.92);
  z-index: 100;

  ul {
    list-style-type: none;
    margin: 0 10px;

    li {
      display: block;
      float: left;

      &.right {
        float: right;
      }

      a {
        float: left;
        display: block;
        padding: 3px 15px;
        margin: 0 10px;
        height: 24px;
        line-height: 24px;
        border: 1px solid rgb(195,195,195);
        color: #4447A0;
        -webkit-tap-highlight-color: rgba(0,0,0, 0);
        .box-shadow(inset 0 0 5px rgba(0,0,0, 0.05));
        .rounded(3px);
        .transition(all 0.15s ease-out);

        &:hover, &:active {
          text-decoration: none;
          color: #222460;
          border-color: rgb(158,158,158);
          .box-shadow(inset 0 0 8px rgba(0,0,0, 0.38));
        }

        &:active {
          background: #4447A0;
          border-color: rgb(23,37,60);
          color: rgb(232,241,255);
          text-shadow: 0 -1px 0 rgba(0,0,0, 0.9);
          .box-shadow(inset 0 0 12px rgba(0,0,0, 0.765));
        }

        &.info {
          padding: 3px 5px 5px 5px;
          height: 22px;
          width: 20px;
          
          i {
            padding: 0;
            margin: 0;
            font-size: 23px;
            line-height: 23px;
            width: 20px;
            height: 23px;
            text-align: center;
            vertical-align: middle;
          }
        }
      }
    }
  }

  a.home {
    float: left;
    display: block;
    padding: 3px 15px;
    height: 26px;
    margin: 0 0 0 10px;
    color: #4447A0;
    font-size: 24px;
    line-height: 26px;
    .transition(all 0.15s ease-out);

    &:hover {
      color: #222460;
    }
  }
}

#content {
  width: 100%;
  margin-top: 52px;

  #home {
    display: none;
    padding: 30px 0;

    .content-wrap {
      position: relative;
      float: right;
      right: 50%;
      top: 40px;
      width: 1000px;
      max-width: 90%;

      .content {
        position: relative;
        float: right;
        right: -50%;
        width: 100%;

        #logo {
          display: block;
          width: 100$;
          height: 74px;
          color: #4447A0;
          font-size: 72px;
          line-height: 74px;
          margin-bottom: 20px;
          text-align: center;
        }

        p {
          padding-top: 30px;
          padding-left: 15px;
          padding-right: 15px;
          padding-bottom: 10px;
          font-size: 28px;
          line-height: 30px;
          text-align: justify;
        }

        #get-started {
          text-align: center;
          margin-top: 20px;
          margin-bottom: 30px;
          width: 100$;

          a {
            .buttonBackground(#62C462, #51A351, #FFF, 0 -1px rgba(0,0,0,.25));
            font-size: 28px;
            padding: 15px;
            width: 200px;
          }
        }
      }
    }
  }
}

#modal {
  display: none;

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 101;

    .overlay-inner {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 5;
    }

    .content-wrap {
      position: relative;
      float: right;
      right: 50%;
      top: 40px;
      width: 600px;
      max-width: 90%;

      .content {
        position: relative;
        float: right;
        right: -50%;

        background-color: #EFEFEF;
        .box-shadow(0 0 72px 1px #222);
        .rounded(4px);
        width: 100%;
        z-index: 10;

        .modal-inner {
          display: none;
          margin: 10px;

          .clearfix
        }
      }
    }
  }
}

.modal-inner {
  &#error {
    padding: 15px 22px;

    p#msg {
      font-size: 20px;
      line-height: 22px;
      text-align: center;
    }
  }

  &#about {
    padding: 30px 22px;

    #logo {
      display: block;
      width: 100$;
      height: 74px;
      color: #4447A0;
      font-size: 72px;
      line-height: 74px;
      text-align: center;
      margin-bottom: 20px;
    }

    p {
      padding-top: 30px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 10px;
      text-indent: 2em;
      text-align: justify;
    }
  }

  &#item {
    form {
      #done {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 28px;
        line-height: 32px;
        height: 32px;
        color: #EFEFEF;
        text-shadow: -2px 0 2px #999999, 0 2px 2px #999999, 2px 0 2px #999999, 0 -2px 2px #999999;
        cursor: pointer;
        .transition(color 300ms, text-shadow 300ms);

        &.done {
          color: #4A4;
          text-shadow: -1px 0 2px #4C4, 0 1px 2px #4C4, 1px 0 2px #4C4, 0 -1px 2px #4C4;
        }
      }

      #name-wrap {
        padding-right: 30px;
      }

      #start-date, #due-date {
        float: left;
        width: 50%;
        margin-top: 3px;
        min-width: 250px;

        p {
          float: left;
          padding: 5px;
          margin-right: -85px;
          width: 75px;

          font-size: 15px;
          line-height: 18px;
        }

        .date-wrap {
          margin-left: 85px;

          input[type='text'] {
            padding: 5px;
            width: 100%;
            line-height: 18px;
          }
        }
      }

      #start-date {
        .date-wrap {
          margin-right: 22px;
        }
      }

      #due-date {
        .date-wrap {
          margin-right: 12px;
        }
      }
    }
  }

  #buttons {
    clear: both;
    margin-top: 5px;
    .clearfix;

    div {
      .btn {
        margin-left: 10px;

        &:first-child {
          margin-left: 0;
        }
      }

      &.left-group {
        float: left;
      }

      &.right-group {
        float: right;
        margin-left: 10px;
      }
    }

    .btn {
      &.btn-save {
        .buttonBackground(#62C462, #51A351, #FFF, 0 -1px rgba(0,0,0,.25));
      }

      &.btn-delete {
        .buttonBackground(#EE5F5B, #BD362F, #FFF, 0 -1px rgba(0,0,0,.25));
      }
    }
  }
}