#timeline {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;

  svg {
    width: 100%;

    line.rule {
      stroke: #ffffff;
      stroke-opacity: .2;
      shape-rendering: crispEdges;
    }

    rect {
      fill-opacity: .6;
      fill: #1f77b4;
    }
  }
}