#timeline-wrap {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  overflow: hidden;

  #timeline {
    position: absolute;

    span.rule {
      position: absolute;
      top: 5px;
      color: #000000;
    }

    div.rule {
      position: absolute;
      top: 30px;
      width: 2px;
      background-color: rgba(239, 239, 239, 0.8);
    }

    div.now {
      position: absolute;
      top: 30px;
      width: 2px;
      background-color: #000000;
    }

    div.past {
      position: absolute;
      background-color: rgba(221, 221, 221, 0.5);
    }

    div.item {
      position: absolute;
      height: 75px;
      width: 0px;
      background-color: rgba(31, 119, 180, 0.6);
      border: solid 2px rgba(68, 68, 68, 0.4);

      transition: width 750ms, background-color 300ms;
      -moz-transition: width 750ms, background-color 300ms;
      -webkit-transition: width 750ms, background-color 300ms;
      -o-transition: width 750ms, background-color 300ms;
    }

    div.item:hover {
      background-color: rgb(31, 119, 180);
    }
  }
}